body {
  margin: 0;
}

#bridge {
  display: block;
  margin: 0 auto;
  background-image: -webkit-image-set(url("image2.jpg") 1x, url("image1.jpg") 2x);
  background-size: cover;
  width: 40%;
  max-width: 650px;
  height: auto;
  cursor: crosshair;
  cursor: url(cursor.png) 50 50, crosshair;
}

#bridgeContainer {
  text-align: center;
  font-family: Avenir, sans-serif;
}
