e, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-o-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-ms-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
body { margin: 0; padding: 0; background: #000; overflow: hidden; } .pyro > .before, .pyro > .after { position: absolute; width: 5px; height: 5px; border-radius: 50%; box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff; -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; } .pyro > .after { -moz-animation-delay: 1.25s, 1.25s, 1.25s; -webkit-animation-delay: 1.25s, 1.25s, 1.25s; -o-animation-delay: 1.25s, 1.25s, 1.25s; -ms-animation-delay: 1.25s, 1.25s, 1.25s; animation-delay: 1.25s, 1.25s, 1.25s; -moz-animation-duration: 1.25s, 1.25s, 6.25s; -webkit-animation-duration: 1.25s, 1.25s, 6.25s; -o-animation-duration: 1.25s, 1.25s, 6.25s; -ms-animation-duration: 1.25s, 1.25s, 6.25s; animation-duration: 1.25s, 1.25s, 6.25s; } @-webkit-keyframes bang { to { box-shadow: -64px -254.6666666667px #00ff3c, -108px 5.3333333333px #2f00ff, 216px -404.6666666667px #00d9ff, 97px -386.6666666667px #ff4800, -7px -220.6666666667px #aaff00, 83px -141.6666666667px #00ff11, 7px 66.3333333333px #62ff00, 223px -208.6666666667px #d500ff, -9px -244.6666666667px #f2ff00, -2px -33.6666666667px #ff00a2, 113px -164.6666666667px #ffc800, 77px -241.6666666667px #e1ff00, -70px -110.6666666667px #1aff00, 102px -259.6666666667px #99ff00, -13px -330.6666666667px #00ff73, 63px -189.6666666667px #0091ff, -61px -226.6666666667px #3c00ff, 143px -310.6666666667px #000dff, 200px -5.6666666667px #ff8000, -177px -108.6666666667px #fff700, -212px 13.3333333333px #ff4d00, 177px -165.6666666667px #eaff00, -188px -335.6666666667px #00ff4d, 226px -256.6666666667px #002bff, 30px -91.6666666667px #c400ff, 209px -134.6666666667px #2bff00, -115px -244.6666666667px #11ff00, 235px -124.6666666667px #ff8000, 199px -265.6666666667px #00ff44, 129px -321.6666666667px #2fff00, -63px -340.6666666667px #0026ff, -239px 74.3333333333px #ff000d, 35px -340.6666666667px #66ff00, -83px 60.3333333333px #00ff37, -166px -143.6666666667px #00ff40, 242px -322.6666666667px #ff2b00, -216px -382.6666666667px #0026ff, 207px -124.6666666667px #ff007b, -218px -80.6666666667px #ffc400, 109px 15.3333333333px #0040ff, -158px 44.3333333333px #ff00bf, 58px -143.6666666667px #c8ff00, -11px -105.6666666667px #ff00f2, 95px -89.6666666667px #ff5500, -215px -319.6666666667px #8400ff, -244px -409.6666666667px #9dff00, 15px -229.6666666667px #ff00b7, -219px -276.6666666667px #ff00aa, -51px 39.3333333333px #1eff00, 84px -129.6666666667px #33ff00, -80px -199.6666666667px #99ff00; } } @-moz-keyframes bang { to { box-shadow: -64px -254.6666666667px #00ff3c, -108px 5.3333333333px #2f00ff, 216px -404.6666666667px #00d9ff, 97px -386.6666666667px #ff4800, -7px -220.6666666667px #aaff00, 83px -141.6666666667px #00ff11, 7px 66.3333333333px #62ff00, 223px -208.6666666667px #d500ff, -9px -244.6666666667px #f2ff00, -2px -33.6666666667px #ff00a2, 113px -164.6666666667px #ffc800, 77px -241.6666666667px #e1ff00, -70px -110.6666666667px #1aff00, 102px -259.6666666667px #99ff00, -13px -330.6666666667px #00ff73, 63px -189.6666666667px #0091ff, -61px -226.6666666667px #3c00ff, 143px -310.6666666667px #000dff, 200px -5.6666666667px #ff8000, -177px -108.6666666667px #fff700, -212px 13.3333333333px #ff4d00, 177px -165.6666666667px #eaff00, -188px -335.6666666667px #00ff4d, 226px -256.6666666667px #002bff, 30px -91.6666666667px #c400ff, 209px -134.6666666667px #2bff00, -115px -244.6666666667px #11ff00, 235px -124.6666666667px #ff8000, 199px -265.6666666667px #00ff44, 129px -321.6666666667px #2fff00, -63px -340.6666666667px #0026ff, -239px 74.3333333333px #ff000d, 35px -340.6666666667px #66ff00, -83px 60.3333333333px #00ff37, -166px -143.6666666667px #00ff40, 242px -322.6666666667px #ff2b00, -216px -382.6666666667px #0026ff, 207px -124.6666666667px #ff007b, -218px -80.6666666667px #ffc400, 109px 15.3333333333px #0040ff, -158px 44.3333333333px #ff00bf, 58px -143.6666666667px #c8ff00, -11px -105.6666666667px #ff00f2, 95px -89.6666666667px #ff5500, -215px -319.6666666667px #8400ff, -244px -409.6666666667px #9dff00, 15px -229.6666666667px #ff00b7, -219px -276.6666666667px #ff00aa, -51px 39.3333333333px #1eff00, 84px -129.6666666667px #33ff00, -80px -199.6666666667px #99ff00; } } @-o-keyframes bang { to { box-shadow: -64px -254.6666666667px #00ff3c, -108px 5.3333333333px #2f00ff, 216px -404.6666666667px #00d9ff, 97px -386.6666666667px #ff4800, -7px -220.6666666667px #aaff00, 83px -141.6666666667px #00ff11, 7px 66.3333333333px #62ff00, 223px -208.6666666667px #d500ff, -9px -244.6666666667px #f2ff00, -2px -33.6666666667px #ff00a2, 113px -164.6666666667px #ffc800, 77px -241.6666666667px #e1ff00, -70px -110.6666666667px #1aff00, 102px -259.6666666667px #99ff00, -13px -330.6666666667px #00ff73, 63px -189.6666666667px #0091ff, -61px -226.6666666667px #3c00ff, 143px -310.6666666667px #000dff, 200px -5.6666666667px #ff8000, -177px -108.6666666667px #fff700, -212px 13.3333333333px #ff4d00, 177px -165.6666666667px #eaff00, -188px -335.6666666667px #00ff4d, 226px -256.6666666667px #002bff, 30px -91.6666666667px #c400ff, 209px -134.6666666667px #2bff00, -115px -244.6666666667px #11ff00, 235px -124.6666666667px #ff8000, 199px -265.6666666667px #00ff44, 129px -321.6666666667px #2fff00, -63px -340.6666666667px #0026ff, -239px 74.3333333333px #ff000d, 35px -340.6666666667px #66ff00, -83px 60.3333333333px #00ff37, -166px -143.6666666667px #00ff40, 242px -322.6666666667px #ff2b00, -216px -382.6666666667px #0026ff, 207px -124.6666666667px #ff007b, -218px -80.6666666667px #ffc400, 109px 15.3333333333px #0040ff, -158px 44.3333333333px #ff00bf, 58px -143.6666666667px #c8ff00, -11px -105.6666666667px #ff00f2, 95px -89.6666666667px #ff5500, -215px -319.6666666667px #8400ff, -244px -409.6666666667px #9dff00, 15px -229.6666666667px #ff00b7, -219px -276.6666666667px #ff00aa, -51px 39.3333333333px #1eff00, 84px -129.6666666667px #33ff00, -80px -199.6666666667px #99ff00; } } @-ms-keyframes bang { to { box-shadow: -64px -254.6666666667px #00ff3c, -108px 5.3333333333px #2f00ff, 216px -404.6666666667px #00d9ff, 97px -386.6666666667px #ff4800, -7px -220.6666666667px #aaff00, 83px -141.6666666667px #00ff11, 7px 66.3333333333px #62ff00, 223px -208.6666666667px #d500ff, -9px -244.6666666667px #f2ff00, -2px -33.6666666667px #ff00a2, 113px -164.6666666667px #ffc800, 77px -241.6666666667px #e1ff00, -70px -110.6666666667px #1aff00, 102px -259.6666666667px #99ff00, -13px -330.6666666667px #00ff73, 63px -189.6666666667px #0091ff, -61px -226.6666666667px #3c00ff, 143px -310.6666666667px #000dff, 200px -5.6666666667px #ff8000, -177px -108.6666666667px #fff700, -212px 13.3333333333px #ff4d00, 177px -165.6666666667px #eaff00, -188px -335.6666666667px #00ff4d, 226px -256.6666666667px #002bff, 30px -91.6666666667px #c400ff, 209px -134.6666666667px #2bff00, -115px -244.6666666667px #11ff00, 235px -124.6666666667px #ff8000, 199px -265.6666666667px #00ff44, 129px -321.6666666667px #2fff00, -63px -340.6666666667px #0026ff, -239px 74.3333333333px #ff000d, 35px -340.6666666667px #66ff00, -83px 60.3333333333px #00ff37, -166px -143.6666666667px #00ff40, 242px -322.6666666667px #ff2b00, -216px -382.6666666667px #0026ff, 207px -124.6666666667px #ff007b, -218px -80.6666666667px #ffc400, 109px 15.3333333333px #0040ff, -158px 44.3333333333px #ff00bf, 58px -143.6666666667px #c8ff00, -11px -105.6666666667px #ff00f2, 95px -89.6666666667px #ff5500, -215px -319.6666666667px #8400ff, -244px -409.6666666667px #9dff00, 15px -229.6666666667px #ff00b7, -219px -276.6666666667px #ff00aa, -51px 39.3333333333px #1eff00, 84px -129.6666666667px #33ff00, -80px -199.6666666667px #99ff00; } } @keyframes bang { to { box-shadow: -64px -254.6666666667px #00ff3c, -108px 5.3333333333px #2f00ff, 216px -404.6666666667px #00d9ff, 97px -386.6666666667px #ff4800, -7px -220.6666666667px #aaff00, 83px -141.6666666667px #00ff11, 7px 66.3333333333px #62ff00, 223px -208.6666666667px #d500ff, -9px -244.6666666667px #f2ff00, -2px -33.6666666667px #ff00a2, 113px -164.6666666667px #ffc800, 77px -241.6666666667px #e1ff00, -70px -110.6666666667px #1aff00, 102px -259.6666666667px #99ff00, -13px -330.6666666667px #00ff73, 63px -189.6666666667px #0091ff, -61px -226.6666666667px #3c00ff, 143px -310.6666666667px #000dff, 200px -5.6666666667px #ff8000, -177px -108.6666666667px #fff700, -212px 13.3333333333px #ff4d00, 177px -165.6666666667px #eaff00, -188px -335.6666666667px #00ff4d, 226px -256.6666666667px #002bff, 30px -91.6666666667px #c400ff, 209px -134.6666666667px #2bff00, -115px -244.6666666667px #11ff00, 235px -124.6666666667px #ff8000, 199px -265.6666666667px #00ff44, 129px -321.6666666667px #2fff00, -63px -340.6666666667px #0026ff, -239px 74.3333333333px #ff000d, 35px -340.6666666667px #66ff00, -83px 60.3333333333px #00ff37, -166px -143.6666666667px #00ff40, 242px -322.6666666667px #ff2b00, -216px -382.6666666667px #0026ff, 207px -124.6666666667px #ff007b, -218px -80.6666666667px #ffc400, 109px 15.3333333333px #0040ff, -158px 44.3333333333px #ff00bf, 58px -143.6666666667px #c8ff00, -11px -105.6666666667px #ff00f2, 95px -89.6666666667px #ff5500, -215px -319.6666666667px #8400ff, -244px -409.6666666667px #9dff00, 15px -229.6666666667px #ff00b7, -219px -276.6666666667px #ff00aa, -51px 39.3333333333px #1eff00, 84px -129.6666666667px #33ff00, -80px -199.6666666667px #99ff00; } } @-webkit-keyframes gravity { to { transform: translateY(200px); -moz-transform: translateY(200px); -webkit-transform: translateY(200px); -o-transform: translateY(200px); -ms-transform: translateY(200px); opacity: 0; } } @-moz-keyframes gravity { to { transform: translateY(200px); -moz-transform: translateY(200px); -webkit-transform: translateY(200px); -o-transform: translateY(200px); -ms-transform: translateY(200px); opacity: 0; } } @-o-keyframes gravity { to { transform: translateY(200px); -moz-transform: translateY(200px); -webkit-transform: translateY(200px); -o-transform: translateY(200px); -ms-transform: translateY(200px); opacity: 0; } } @-ms-keyframes gravity { to { transform: translateY(200px); -moz-transform: translateY(200px); -webkit-transform: translateY(200px); -o-transform: translateY(200px); -ms-transform: translateY(200px); opacity: 0; } } @keyframes gravity { to { transform: translateY(200px); -moz-transform: translateY(200px); -webkit-transform: translateY(200px); -o-transform: translateY(200px); -ms-transform: translateY(200px); opacity: 0; } } @-webkit-keyframes position { 0%, 19.9% { margin-top: 10%; margin-left: 40%; } 20%, 39.9% { margin-top: 40%; margin-left: 30%; } 40%, 59.9% { margin-top: 20%; margin-left: 70%; } 60%, 79.9% { margin-top: 30%; margin-left: 20%; } 80%, 99.9% { margin-top: 30%; margin-left: 80%; } } @-moz-keyframes position { 0%, 19.9% { margin-top: 10%; margin-left: 40%; } 20%, 39.9% { margin-top: 40%; margin-left: 30%; } 40%, 59.9% { margin-top: 20%; margin-left: 70%; } 60%, 79.9% { margin-top: 30%; margin-left: 20%; } 80%, 99.9% { margin-top: 30%; margin-left: 80%; } } @-o-keyframes position { 0%, 19.9% { margin-top: 10%; margin-left: 40%; } 20%, 39.9% { margin-top: 40%; margin-left: 30%; } 40%, 59.9% { margin-top: 20%; margin-left: 70%; } 60%, 79.9% { margin-top: 30%; margin-left: 20%; } 80%, 99.9% { margin-top: 30%; margin-left: 80%; } } @-ms-keyframes position { 0%, 19.9% { margin-top: 10%; margin-left: 40%; } 20%, 39.9% { margin-top: 40%; margin-left: 30%; } 40%, 59.9% { margin-top: 20%; margin-left: 70%; } 60%, 79.9% { margin-top: 30%; margin-left: 20%; } 80%, 99.9% { margin-top: 30%; margin-left: 80%; } } @keyframes position { 0%, 19.9% { margin-top: 10%; margin-left: 40%; } 20%, 39.9% { margin-top: 40%; margin-left: 30%; } 40%, 59.9% { margin-top: 20%; margin-left: 70%; } 60%, 79.9% { margin-top: 30%; margin-left: 20%; } 80%, 99.9% { margin-top: 30%; margin-left: 80%; } }